version: "3.7"
services:
  mqtt5:
    image: eclipse-mosquitto
    container_name: mqtt5
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./config:/mosquitto/config:rw
      - ./data:/mosquitto/data:rw
      - ./log:/mosquitto/log:rw

  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "8086:8086"
    volumes:
      - influxdb-data:/var/lib/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=admin123
      - DOCKER_INFLUXDB_INIT_ORG=ftn
      - DOCKER_INFLUXDB_INIT_BUCKET=smartHome
      - DOCKER_INFLUXDB_INIT_TOKEN=npxtZsxyqdaaEm4TLFg5s2DvmLBXFTbR_GOZr_DXpO6icSbeBqLcKWylCY3V5haw-u_KL_g7Ad2DZlQbUeKr9A==

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - influxdb

volumes:
  config:
  data:
  log: 
  influxdb-data:

networks:
  default:
    name: mqtt5-network
